.desc-container {
    width: 70%;
    left: 15%;
    position: absolute;
    top: 0;
    background: rgb(238,227,220);
    object-fit: contain;
}
.desc-container .black {
    background: linear-gradient(to bottom, rgba(255, 246, 212, .1) 40%, rgba(238,227,220, 1) 50%);
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
}
.desc-container .video {
    position: relative;
    height: 500px;
    padding: 10px 15px;
    z-index: 1;
}
.desc-container .video img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
}
.desc-container .video .buttons {
    position: relative;
    width: 100%;
    height: 100%;
}
.desc-container .video .buttons .exit {
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    transition: 1000ms ease;
}
.desc-container .video .buttons .exit:hover {
    background: rgba(255, 255, 255, .4);
    transform: rotate(180deg);
}
.desc-container .video .buttons .buttons-second {
    position: absolute;
    bottom: 60px;
    left: 0;
    display: flex;
    gap: 20px;
}
.desc-container .video .buttons .buttons-second .favorite {
    width: 40px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}
.desc-container .video .buttons .buttons-second .favorite:hover {
    background: rgba(255, 255, 255, .4);
}
.desc-container .video .buttons .price {
    position: absolute;
    bottom: 40px;
    right: 0;
    color: white;
    font-size: 50px;
}
.space {
    width: 100%;
    height: 100px;
}
.desc-container .information {
    position: relative;
    margin-top: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 100px;
    z-index: 20;
}
.desc-container .information .loc-date {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.desc-container .information .loc-date span {
    color: rgb(52, 131, 131);
}
.desc-container .information .guest-artist h1 {
    color: rgb(52, 131, 131);
    font-size: 50px;
}
.desc-container .information .guest-artist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.desc-container .information .guest-artist .guest-box {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 3rem;
    align-items: center;
    border: 1px #454444 solid;
    border-radius: 20px;
}
.desc-container .information .guest-artist .guest-box img {
    height: 60px;
    width: 60px;
    border-radius: 20px;
}